.header {
  @apply mx-auto fixed top-0 left-0 right-0 z-10 h-20 bg-transparent px-8 md:px-0 text-zinc-50 md:h-32 ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.header-sm {
  @apply fixed top-20 left-0 right-0 flex flex-col rounded-b-md bg-primary-light p-4 px-8 shadow-md md:hidden;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s ease-in-out;
}

html[data-direction='down'] .header {
  transform: translate3d(0, -100%, 0);
}

html[data-direction='down'] .header-sm {
  transform: translate3d(0, -100%, 0);
}

.btn-contact {
  @apply mt-2 rounded-full px-5 py-2 text-base text-primary md:mt-0;
  background-color: #e9c267;
  color: #223f81;
}
